<%- model_class = Image -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="instagram-content">
                    <h3>Latest Photos</h3>
                    <div class="row photos-wrap">
                    <!-- Instafeed target div -->
                    <div id="instafeed"></div>
  <% @images.each do |image| %>          
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="photo-box">
                            <div class="image-wrap">
                            <%= link_to image_tag(image.picture.url), image_path(image) %>
                                <div class="likes">309 Likes</div>
                            </div>
                            <div class="description">
                                <%= image.name %>
                                <div class="user"><%= image.user.email %></div>
                            </div>
                        </div>
  </div>
                    <% end %>
                  </div>
                </div>
            </div>
        </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_image_path,
            :class => 'btn btn-primary' %>
